body {
  background-color: #cdd5f0;
}

#result {
  display: none;
}

h1, h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 3.8em;
}

#image {
  padding-top: 30px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
